@page "/"
@using Services
@using crossbid_blazor.Shared.Components.Auction
@inject SupabaseSvc supabase_svc

<PageTitle>Index</PageTitle>

<section>
	@if (auctions != null)
	{
		<div class="grid grid-cols-4">
			@foreach (var auction in auctions)
			{
				<Card auction="@auction" />
			}
		</div>
	}
</section>


@code {
	private List<Shared.Models.Auction>? auctions { get; set; }

	protected override async Task OnInitializedAsync()
	{
		if (auctions == null)
		{
			auctions = await supabase_svc.GetAuctionList();
		}
	}
}
