<nav class="flex justify-between items-center p-2 mb-4">
    <div>
        <a href="/" class="flex items-center font-semibold">
            <img src="/assets/logo.png" height="50" width="50" />
            CrossBid
        </a>
    </div>
    <div class="inline-flex gap-4">
        <a href="/auction/create">
            Create Auction
        </a>
        <a>
            My Auctions
        </a>
    </div>
</nav>